[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2"
djangorestframework = "*"
pillow = "*"
coreapi = "*"
django-guardian = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
